/* Font Importing and font styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family:'Miama';
    src: url('fonts/Miama.ttf');
}

.inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
}


/* Common Styles */
*{
    margin: 0;
    padding: 0;
}

.smart-container {
    width: 73.61%;
    margin:0 auto;
}

.smart-container-2 {
    width: 70%;
    margin:0 auto;
}

body {
    background-color: black;
    color:white;
}

.content-heading {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}
.content-para {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 170%;
    color:rgba(255, 255, 255, 0.5);
    margin-top:14px;
}







.brand-name {
    font-style: italic;
    color:#E6533C;
    font-size: 2.25rem;
}


.menu {
    display: none;
}
.nav-container>ul>li {
    list-style-type: none;
    
}
.nav-container>ul>li>a {
    text-decoration: none;
    gap:20px;
    color:white;
    font-size: 1.2rem;
    
}

.nav-container>ul {
    display: flex;
    gap:47px;
    

}

.home {
    background-color: #E6533C;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 46px;
}
.about {
    padding: 8px 20px;
    border-radius: 46px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:50px;
}

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.text-side>h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    line-height: 80px;
    font-size: 4.875rem;
}
.shape-txt {
    font-family: 'Miama';
    font-weight: 400;
    font-size: 7rem;
    font-style: italic;
}

.hero {
    display:flex;
    align-items: center;
    gap:20%;
}

.image-content>img {
    width:100%
}

.nav-container{
    border:1px solid rgba(255, 255, 255, 0.1);
    padding:12px 5px;
    border-radius: 39px;
}

.primary {
    background-color: #E6533C;
    padding:16px 40px;
    font-family: "Inter", sans-serif;;
    font-size: 1.12rem;
    font-weight: 600;
    color:white;
    border: none;
    border-radius: 42px;
}


.secondary {
    background-color: transparent;
    padding:16px 40px;
    font-family: "Inter", sans-serif;
    font-size: 1.12rem;
    font-weight: 600;
    color:white;
    border: 1px solid white;
    border-radius: 42px;
}

.btn-container {
    display:flex;
    gap:14px;
}

.hero-paragraph {
    margin: 28px 0px;
    color:rgba(255, 255, 255, 0.5);
}


/* Positioning card */

.image-side {
    position: relative;
}





.circle {
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}


.tp-card-1 {
    width: 206px;
    height: 96px;
    background:rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 72%;
    bottom: 13%;

}
.tp-card-2 {
    width: 193px;
    height: 98px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    bottom: 62%;
    left: 67%;

}

.tp-card-1 h3 {
    font-size: 1.5rem;
    font-weight: 900;
}
.tp-card-1 p {
    font-size: 1rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.65);
}
.tp-card-2 h3 {
    font-size: 2.5rem;
    font-weight: 900;
}
.tp-card-2 p {
    font-size: 0.9rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.65);
}

.tp-text {
    margin-left: 24px;
}


/* Habites section start here */


.habits {
    margin-top:100px;
}
.circle-cards {
    display: flex;
    justify-content: space-around;
}

.circle-card {
    width:20%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.habits-text {
    max-width: 60%;
    margin:0 auto;
}

.habits-text h2 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}
.habits-text p {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.3px;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 58px;
}
.circle-card>img {
    border-radius: 50%;
    border-color: 1px solid rgba(255, 255, 255, 0.1);
}

.circle-card h4 {
    text-align: center;
    font-size: 1.1rem;
    line-height: 120%;
    font-weight: 600;
    margin-top:30px;
    margin-bottom: 7px;
    
}

.circle-card p {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.3px;
    color:rgba(255, 255, 255, 0.5);
}


/* Extra-Mile Section Start here */

.extra-mile {
    margin-top:100px;
    display:flex;
    background-color: #222222;
    border-radius: 10px;
    margin-bottom: 100px;
}

.extra-mile-text {
    padding:40px 54px;
    
}

.extra-mile-text p {
    margin-top:14px;
    margin-bottom: 34px;
}

.extra-mile-image {
    padding:30px 32px;
    width:100%;
}
.extra-mile-image img {
    max-width: 100%;
    object-fit: none;
    object-position: 69% 30%;
    border-radius: 18px;
}


/* BMI Section styles */

.bmi-heading {
    width:47%;
    margin:0 auto;
    margin-bottom: 88px;
}

.bmi-content {
    background-color: #222222;
}

.bmi-chart>table,th, td {
    border:1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    padding:15px 20px;
}

.bmi-caption {
    font-size: 1.75rem;
    font-weight: 900;
    margin:52px 0px;
}

th {
    font-weight: 500;
}

td {
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
}
.calculator-caption {
    max-width: 80%;
}


.calculator-caption h2 {
    margin-bottom:5px;
    
} 

.bmi-holder {
    display:flex;
    gap: 70px;
}

.bmi-calcuator {
    width: 65%;
    
}


.form-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    border:1px;
    
    width:100%;
    gap: 12px;
}
input, .sex, .activity {
    
    background-color: #383838;
    color:rgba(255, 255, 255, 0.60);
    border: none;
    padding:13px 20px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 8px;
    
}

::placeholder {
    color:rgba(255, 255, 255, 0.60);
}

.para-2 {
    margin-bottom: 34px;
}

.activity {
    grid-column: span 2;
}

.calculate {
    padding:16px 70.5px;
    margin-top:34px;
    margin-bottom: 50px;
}
/* Meet Your Team */

.meet {
    margin-top: 88px;
}

.meet-heading {
    text-align: center;
}

/* Responsive for Mobile Devices */


@media screen and (max-width:576px) {
    
    
    .smart-container {
        width: 90%;
        margin: 0 auto;
    }

    .top-bar {
        padding-top:25px;
    }
    .menu {
        display: block;
    }

    .nav-container ul {
        display: none;
    }

    .nav-container {
        border: none;
    
    }
    .hero {
        flex-direction: column;
        /* gap:48px; */
    }

    .text-side h1 {
        
            font-size: 2.25rem;
            line-height: 3rem;
 
    }

    .shape-txt {
        font-size: 5rem;
    }

    .club {
        display: none;
    }

    .circle {
        width:30px;
        height: 30px;
    }

    .tp-card-1 {
        width: 155px;
        height: 72px;
        right: 53%;
        bottom: 37%;
    
    }
    .tp-card-2 {
        width: 145px;
        height: 74px;
        bottom: 75%;
        left: 53%;
    
    }
    
    .tp-card-1 h3 {
        font-size: 1.12rem;
        font-weight: 900;
    }
    .tp-card-1 p {
        font-size: 0.75rem;
        font-weight: 400;
        color:rgba(255, 255, 255, 0.65);
    }
    .tp-card-2 h3 {
        font-size: 1.87rem;
        font-weight: 900;
    }
    .tp-card-2 p {
        font-size: 0.56rem;
        font-weight: 400;
        color:rgba(255, 255, 255, 0.65);
    }
    
    .tp-text {
        margin-left: 18px;
    }
    .primary, .secondary {
       padding:18px 26px;
    }


    /* Habits section responsiveness */
    .circle-cards {
        flex-direction: column;
        align-items: center;
        
    }

    .circle-card {
        width: 60%;
        margin-bottom: 40px;
    }

    .habits-text {
        max-width: 90%;
        margin:0 auto;
    }


    .habits-text h2 {
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        margin-bottom: 20px;
    }

     /* Extra Mile Styles */
    .extra-mile { 
        flex-direction: column;
    }
    
    .extra-mile-text {
        padding:33px;
    }


    .extra-mile-text h2 {
        font-size: 2rem;
        
    }
    .join-now {
        width:100%;
    }
    
    .extra-mile-image {
        padding:10px;
        width:80%;
        margin: 0 auto;
    }   

    .extra-mile-image img {
        max-width: 100%;
        object-fit: cover;
    }


    /* BMI Section Start Here */
    .bmi-heading {
        width: 80%;
        margin: 30px auto;
    }

    .bmi-holder {
        flex-direction: column;
        gap:0px;
        /* align-items: center; */
    }
    
    .bmi-calcuator {
        width: 100%;
    }

    form {
        gap:12px;
    }

    .calculator-caption {
        max-width: 100%;
    }
    
    .content-heading {
        font-size: 2rem;
        text-align: left;
    }

    .content-para {
        font-size: 0.9rem;
        text-align: left;
    }

    .bmi-txt {
        font-size: 1rem;
        text-align: left;
    }

    .bmi-caption {
        margin: 32px 0px;
    }

    .calculate {
        margin-top: 15px;
        padding: 16px 70px;
    }

    input {
        width:80%;
    }

}